{% extends 'base.html' %}

{% block content %}

    <form class="form-group" action="{% url 'register' %}" method="post">
    {% csrf_token %}

    <div class="d-flex justify-content-center mt-5">
        <div class="card col-4">
            <div class="card-header">
                <h2>ثبت نام</h2>
            </div>
            <div class="card-body">
                <label for="id_username">نام کاربری:
                    <input class="form-control" id="id_username" name="username" type="text" placeholder="نام کاربری">
                </label>

                <label for="id_password">گذرواژه:
                    <input class="form-control" id="id_password" name="password1" type="password" placeholder="گذرواژه">
                </label>

                <label for="id_password2">تکرار گذرواژه:
                    <input class="form-control" id="id_password2" name="password2" type="password" placeholder="تکرار گذرواژه">
                </label>
            </div>
            <div class="card-footer">
                <input class="btn btn-outline-success" type="submit" value="ثبت نام">
            </div>
        </div>
    </div>

    </form>

{% endblock content %}