{% extends 'admin/dashboard.html' %}


{% block dashboard %}

          <h2>عنوان القسم</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>العنوان</th>
              <th>العنوان</th>
              <th>العنوان</th>
              <th>العنوان</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1,001</td>
              <td>أم.</td>
              <td>و.</td>
              <td>ثمّة.</td>
              <td>ويتّفق.</td>
            </tr>
            <tr>
              <td>1,002</td>
              <td>أضف.</td>
              <td>ما.</td>
              <td>من.</td>
              <td>أم.</td>
            </tr>
            <tr>
              <td>1,003</td>
              <td>دار.</td>
              <td>ذلك.</td>
              <td>يبق.</td>
              <td>المتحدة.</td>
            </tr>
            <tr>
              <td>1,003</td>
              <td>فكانت.</td>
              <td>الخارجية.</td>
              <td>الآخر.</td>
              <td>حتى.</td>
            </tr>
            <tr>
              <td>1,004</td>
              <td>أم.</td>
              <td>و.</td>
              <td>ثمّة.</td>
              <td>ويتّفق.</td>
            </tr>
            <tr>
              <td>1,005</td>
              <td>أضف.</td>
              <td>ما.</td>
              <td>من.</td>
              <td>أم.</td>
            </tr>
            <tr>
              <td>1,006</td>
              <td>دار.</td>
              <td>ذلك.</td>
              <td>يبق.</td>
              <td>المتحدة.</td>
            </tr>
            <tr>
              <td>1,007</td>
              <td>أم.</td>
              <td>و.</td>
              <td>ثمّة.</td>
              <td>ويتّفق.</td>
            </tr>
            <tr>
              <td>1,008</td>
              <td>أضف.</td>
              <td>ما.</td>
              <td>من.</td>
              <td>أم.</td>
            </tr>
            <tr>
              <td>1,009</td>
              <td>دار.</td>
              <td>ذلك.</td>
              <td>يبق.</td>
              <td>المتحدة.</td>
            </tr>
            <tr>
              <td>1,010</td>
              <td>أم.</td>
              <td>و.</td>
              <td>ثمّة.</td>
              <td>ويتّفق.</td>
            </tr>
            <tr>
              <td>1,011</td>
              <td>أضف.</td>
              <td>ما.</td>
              <td>من.</td>
              <td>أم.</td>
            </tr>
            <tr>
              <td>1,012</td>
              <td>دار.</td>
              <td>ذلك.</td>
              <td>يبق.</td>
              <td>المتحدة.</td>
            </tr>
            <tr>
              <td>1,013</td>
              <td>أم.</td>
              <td>و.</td>
              <td>ثمّة.</td>
              <td>ويتّفق.</td>
            </tr>
            <tr>
              <td>1,014</td>
              <td>أضف.</td>
              <td>ما.</td>
              <td>من.</td>
              <td>أم.</td>
            </tr>
            <tr>
              <td>1,015</td>
              <td>دار.</td>
              <td>ذلك.</td>
              <td>يبق.</td>
              <td>المتحدة.</td>
            </tr>
          </tbody>
        </table>
      </div>


{% endblock %}