{% block content %}

    <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        {% for course in courses %}
            <div class="col-3">
              <div class="card shadow-sm align-items-center">
                <img src="/{{ product.image }}" width="250px" height="250px">
                <div class="card-body">
                  <p class="card-text">{{ product.body }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-success">View</button>
                      <button type="button" class="btn btn-sm btn-success">add to cart</button>
                       <a href="{% url 'product.delete' course.id %}" class="btn bg-danger">Delete</a>
                    </div>
                    <small class="text-muted">{{ product.seller }}</small>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}







      </div>
    </div>
  </div>

{% endblock %}