<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
      
    {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
</head>
<body>
    {% block content %}
      
    {% endblock content %}
    <script src="{% static 'jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.css' %}"></script>
</body>
</html>